@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 11.9%
}

#site_title {
    display: inline-block;
    font-weight: lighter;
    margin-top: 2%;
    margin-left: 2%;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    cursor: pointer;
    color: rgb(20, 94, 20);
    font-weight: bold;
}

.menu {
    font-size: 18px;
    float: right;
    margin: 2.6% 2% 0% 2%;
}

#gate {
    width: 100%;
    height: 88.1%;
    background-image: linear-gradient(60deg, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.3)), url("../img/booktop.jpg");
    background-size: cover;
    animation-name: load;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes load {
    from {
        opacity: 0.4;
    } to {
        opacity: 1;
    }
}

#scroll_area {
    width: 100%;
    height: 52%;
    position: absolute;
    top: 30vh;
    overflow: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.card {
    width: 46%;
    height: 100%;
    border-radius: 20px;
    margin: 0% auto;
    background: rgba(255, 255, 255, 0.6);
    display: inline-block;
    overflow: hidden;
    margin: 0% 0% 0% 27%;
    box-shadow: -60px 0px 200px -90px #000000,
        60px 0px 200px -90px #000000;
}

.card_title {
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
    margin-top: 4% 0% 4% 0%;
}

.card_illus {
    width: 60%;
    height: 100%;
    background-size: contain;
    float: left;
}

.card_text {
    width: 38%;
    height: 98%;
    float: left;
    font-weight: lighter;
    white-space: normal;
    word-break: break-all;
    text-align: left;
    font-size: 17px;
    line-height: 30px;
    padding: 1%;
}


::-webkit-scrollbar { 
    display: none; 
}

.btns {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 27px;
    position: absolute;
    top: 85vh;
}

.btns:hover {
    cursor: pointer;
    color: #91B3BC;
}

button:focus {
    outline: none;
}